:root{
    font-family: var(--ff-primary);
}
#mapid{
  width :100%; 
  max-height : 100% ; 
  min-height: 400px;
  background-color: rgba(214, 230, 242);
  /* opacity: 0.5; */
}
section.container,
.end-game,
.quiz-container,
.guess-container{
    display: grid;
    min-height: 85vh;
    justify-items: center;
    /* grid-template-rows: 1fr; */
    /* align-items: center; */
    gap: var(--size-100);
    padding: var(--size-400) var(--size-300);
}
section.container{
  grid-template-areas: "heading" "image" "rules";
}
.end-game{
    align-items: center;
    justify-content: center;
    grid-template-areas: "image" "body";
}
.end-game .body{
  grid-area: body ;
}
.body .heading{
  font-size: var(--fs-32);
}

.score{
  display: grid;
  justify-content: center;
  align-items: center;
}
.score.record h3 , 
.score .record{
  color: var(--clr-light-green);
}
.score.record h4{
  background-color: var(--clr-light-green);
  color: var(--clr-primary-1);
}
.score h3{
  color: var(--clr-primary-2);
  text-align: center;
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  letter-spacing: 1.2px;
  text-transform: capitalize;
}
.score h4{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: var(--ff-secondary);
  font-size: var(--fs-16);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase;
  background-color: var(--clr-primary-2);
  text-align: center;
  width: fit-content;
  width: -moz-fit-content;
  padding: var(--size-500);
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: auto ; 
  line-height: 100%;
 }

 .body h5{
  color: var(--clr-primary-2);
  text-transform: capitalize;
  text-align: justify;
 }
.end-game img{
  grid-area: image ;
  max-height: 40vh;
  width: 100%;
}
.image{
  grid-area: image;
  width: 100%;
  margin: 0;
}
.heading{
  grid-area: heading;
}
.rules-container{
  grid-area: rules;
}
.rule{
    display: flex;
    justify-content: flex-start ; 
    align-items: center ; 
    gap: var(--size-200);
    margin-block: var(--size-300);
}
.rule p{
    color: black;
    line-height: 120%; /* 16.8px */
    letter-spacing: 0.7px;
    text-transform: capitalize;
}
.rule p span{
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-2);
}
.rule img{
    width : 30px ; 
    height: 30px;
}
.game-start-btn{
    width: 100%;
    padding: var(--size-400) var(--size-100) ; 
    border-radius: var(--size-100);
    background: var(--clr-primary-2);
    color: white ; 
    text-align: center;
    cursor: pointer;
    /* logoText */
    font-family: var(--ff-secondary);
    font-size: var(--fs-24);
    font-style: normal;
    font-weight: 700;
    line-height: 90%; /* 28.8px */
    text-transform: uppercase;
} 
.quiz-container,
.guess-container{
  background-color: var(--clr-light-white ,#D6E6F2);
  margin: auto;
  padding: var(--size-500) var(--size-200);
  grid-template-columns: 1fr;
  /* grid-template-rows: minmax(70px , 1fr) minmax(200px ,3fr) minmax(251px , 3.5fr); */
  /* grid-template-rows: 70px 70px  minmax(400px , 6fr); */
  max-height: calc(100vh - 70px);
  
}
.quiz-container{
  grid-template-rows: minmax(70px , 1fr) minmax(160px ,3fr) minmax(200px , 3.5fr);
}
.guess-container{
  grid-template-rows: 70px auto  minmax(400px , 6fr);
}
.game-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:0  ; 
  width: 100%;
}
.lifes{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--size-200);
}

.life img:first-child{
  display: block;
}
.life img:last-child{
  display: none;
}
.life.gone img:first-child{
  display: none;
}
.life.gone img:last-child{
  display: block;
}
.question{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-200);
  flex-flow: column wrap;
  background-color: var(--clr-primary-1);
  /* padding-block: var(--size-600); */
  width: 100%;
  border-radius: var(--size-300);
  height: auto;
}
.question h3 , 
.country-name{
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  /* line-height: 170%;  */
  letter-spacing: 1.2px;
  text-transform: capitalize;
  color: white;
  text-align: center;
}
.country-name{
  background-color : var(--clr-primary-1) ; 
  padding : var(--size-200) var(--size-600);
  border-radius: var(--size-200);
  
}
.question img{
  max-width: 150px;
  max-height: 70px;
  border: 1px solid var(--clr-light-white);
}

.options{
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr;
  gap: var(--size-200);
  width: 100%;
}
.option{
  color: var(--clr-primary-1, #04364A);
  background: white;
  padding-block: var(--size-300);
  /* line-height: 170%; */
  font-weight: var(--fw-semi-bold);
  text-align: center;
  border-radius: var(--size-200);
  text-transform: capitalize;
  border: 1px solid var(--clr-seconday-1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.option:hover{
  background: var(--clr-secondary-1);
  /* color: white; */
}
.right-option{
  background-color: var(--clr-light-green);
  color: var(--clr-light-white);
}
.wrong-option{
  background-color: var(--clr-danger);
  color: var(--clr-light-white);
}
.right-option:hover{
  background: var(--clr-light-green);
  opacity: 0.6;
}
.wrong-option:hover{
  background: var(--clr-danger);
  opacity: 0.6;
}
#timer{
  position : relative;
  width: 100px;
} 
#timer svg {
  rotate: 270deg;
}
#timer svg circle:first-child{
  stroke : var(--clr-primary-1);  
  fill :"transparent"   ;  
}
#timer p{
  position:absolute;
  top: 50% ;
  left: 50%;
  transform : translate(-50% , -50%) ;
  font-size : var(--fs-32) ; 
  text-shadow: 2px 2px var(--clr-banana-yellow) ;
  color: var(--clr-primary-1);
  text-align : center  ; 
  width: 100%;
}
.warning{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--size-400);
  position: absolute ; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background  : rgba(255,255,255,0.3)

  /* background-color: red */
}
.warning-text{
  color : white ; 
  font-size: var(--fs-18);
  width: 60vw;
  font-weight: var(--fw-semi-bold) ; 
  /* max-width: 700px; */
  padding: var(--size-600) var(--size-400);
  text-align: center;
  border-radius: var(--size-200);
}
.warning .button{
  font-size: var(--fs-24);
}
 
@media screen and (min-width: 768px) {
    section.container{
      padding: var(--size-600) 8rem;
    }
    .quiz-container{
      padding: var(--size-800) var(--size-400);
    }
    .question{
      gap: var(--size-500);
      flex-flow: wrap;
      padding-block: 0;
    }
    .question h3{
      font-size: var(--fs-24);
    }
    .question img{
      max-width: 200px;
      max-height: 120px;
    }
    .options{
      /* height: fit-content; */
      margin-top: var(--size-400);
      grid-template-columns: 1fr 1fr;
      row-gap: var(--size-100);
      /* height: auto; */

    }
    .option{
      padding-block: var(--size-500);
      /* font-size: var(--fs-18); */
    }
    .end-game{
      padding-inline: calc(2 * var(--size-1000));
    }
    .end-game .body .heading{      
      font-size: var(--fs-heading-4);
    }
    .score h3,
    .score h4{
      font-size: var(--fs-24);
    }
    .body h5{
      line-height: 180%;
      margin-bottom: var(--size-300);
    }
    .end-game .body{
      align-self: baseline;
    }
    
  }
  
  @media screen and (min-width: 900px) {
    
    .question h3{
      font-size: var(--fs-24);
    }
    .options{
      column-gap: var(--size-700);
    }
      /* generic style in main.css */
  }
  
  @media screen and (min-width: 1100px) {

    section.container {
      grid-template-columns:  1.2fr 1fr;
      grid-template-areas: 'image heading' 'image rules'  ;      /* row-gap: var(--size-300);     */
      gap: 0;
      align-items: center;
      align-content : center ; 
      padding: var(--size-400);
    }

    .heading{
        text-align: center ; 
    }
    .rules-container  {
    align-self: baseline;
    }
    .image{
      height: 90%;
      
    } 
    section{
      padding: var(--size-800);
    }
    .quiz-container{
      max-height: calc(100vh - 70px - 2 * var(--size-800));
      padding-inline:  var(--size-1000);
      border-radius: var(--size-300);
    }

    .end-game{
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "image body";
      padding-inline:  var(--size-600);
      gap: var(--size-600);
    }
    .end-game .body .heading{      
      font-size: var(--fs-heading-2);
    }
    .score h3,
    .score h4{
      font-size: var(--fs-24);
    }
    .body h5{
      font-size: var(--fs-18);
      line-height: 180%;
      margin-bottom: var(--size-300);
    }
    .end-game img {
      max-height: 80%;
  }
    .end-game .body{
      align-self: unset;
    }
    .warning-text{
      font-size: var(--fs-24);
    }
  }
  
  @media screen and (min-width: 1360px) {

     section.container{
      padding: 0 var(--size-1000);
    }
    section{
      padding-inline: 100px;
    }
    .options{
      column-gap: var(--size-700);
    }
    .end-game .body .heading{
      font-size: var(--fs-heading)
    }
    .end-game .body h5{
      padding-inline: var(--size-1000);
    }
    .game-start-btn{
      font-size: var(--fs-32);
    }
  }
  @media screen and (min-width: 1920px) {
    .heading,
    .end-game .body .heading{
        font-size: var(--fs-heading-0);
    }
    .rule p {
      font-size: var(--fs-18);
    }
    .rule img {
      width: 70px;
      height: 70px;
    } 
    .end-game .body h5,
    .rule p{
        font-size: var(--fs-24);
    }  
    .game-start-btn{
        font-size: var(--fs-32);
        padding-block: var(--size-600);
    }
    section{
      padding-inline: 350px;
    }
    .question h3,
    .score h3,
    .score h4{
      font-size: var(--fs-32);
    }
    .options{
      column-gap: var(--size-1000);
    }
    .option{
      font-size: var(--fs-24) ; 
    }
  }

  