
.wave{
  position: relative;
  width: 100%;
  z-index: -1;
}
.top{
  top: var(--size-300);
}
.bottom{
  bottom: var(--size-300);
}


section{
  display: grid;
  min-height: 85vh;
  justify-items: center;
  gap: var(--size-600);
  padding: var(--size-400) var(--size-300);
}

section.contact-form img {
  width: 100%;
  margin: 0;
}
section img {
  width: 100%;
  margin: 0;
  grid-row: 2/3;
}

.section-desc{
 display: flex;
 flex-direction: column;
 gap: var(--size-200);
 justify-items: center;
 height: fit-content;
 
}
.section-desc p{
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-1);  
  text-align: center;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
  height: max-content;
}


@media screen and (min-width: 768px) {

  .top{
    top: var(--size-600);
  }
  section{
    padding: var(--size-600) 8rem;
  }
 
}

@media screen and (min-width: 900px) {

    /* generic style in main.css */
}

@media screen and (min-width: 1100px) {

  .top{
    top: 50px;
  }
  .section-desc{
    grid-area: desc;
    /* background-color: #176B87; */
    font-size: var(--fs-16);
    padding-top :  var(--size-400) ; 
    align-self: baseline;
  }
 
  section img{
    /* display: block; */
    grid-area: image;
    height: 80%;
    /* background-color: #00AC7C; */
  } 
  section {
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 'heading image' 'desc image'  ;
    /* row-gap: var(--size-300);     */
    gap: 0;
    align-items: center;
    align-content : center ; 
    place-items: center;
    align-content: center;
    padding: var(--size-400);
  }
  .reversed-section{
    grid-template-areas: 'image heading' 'image desc'  ;

  }
  .section-desc p{
    text-align: left;
  }
  .button  {
    align-self:self-start;
  }
  .animation{
    opacity: 0;
    filter: blur(8px);
    transition : all 0.8s;
    transform: translateY(40%);
  }
  /* .top{
    transform: translateY(20%);
  }
  
  .bottom{
    transform: translateY(-20%)
  } */
  .show-animation{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }
}

@media screen and (min-width: 1360px) {
  .top{
    top: 60px;
  }
  .heading{
    font-size: var(--fs-heading-0);
  }
  section img{
    height: 80%;
  }  
   section {
    padding: 0 var(--size-1000);
  } 

}
@media screen and (min-width: 1920px) {
  .top{
    top: 80px;
  }
  section:not(.contact-form) {
    grid-template-columns: 1fr 2fr;
  }

  .section-desc{
    /* background-color: #176B87; */
    font-size: var(--fs-18);
    padding-top :  var(--size-400) ; 
    align-self: baseline;
  }
 
}
@media(prefers-reduced-motion: reduce) {
  .animation{
    transition: none;
  }  
}
