#mapid{
    height: 250px;
}
.continents-caroussel{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap : var(--size-100);
    flex-wrap: nowrap;
    padding: var(--size-200)  ;
    padding-top: var(--size-500) ;
}
.horizontal-arrow{
    cursor: pointer;
    border: 1px solid var(--clr-primary-1);
    border-radius: 50% ; 
    /* display: none; */
}
.arrow-left{
    display: none ; 
}
.continents-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    gap: var(--size-300); 
    /* overflow-x: scroll; */
    /* scroll-behavior: smooth; */
}
.continent-btn{
    border-radius: var(--size-200);
    padding: var(--size-100) var(--size-200);
    border: 1px solid var(--clr-primary-1, #04364A);
    background: white ;
    cursor: pointer;
    font-family: var(--ff-body);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-1);  
    text-align: center;
    text-transform: capitalize;
    min-width: max-content ; 
    transition: all 0.3s ease-in-out; 
}
.continent-btn:hover{
    background-color: var(--clr-primary-2);
    color: white;
}
.continent-btn:first-child{
    padding-inline: var(--size-300);
}
.continent-btn:first-child:hover{
    
    background-color: var(--clr-primary-2);
    color: white;
    /* opacity: 0.5; */
}

.continent-btn.selected{
    background-color: var(--clr-primary-1) ; 
    color: white;
    border: white;
}
main{
    display: flex; 
    position: relative;
    min-height: calc(100vh - 70px - 67px);
    
}
aside {
    position: fixed;
    top: calc(70px + 67px);
    background-color: var(--clr-primary-1);
    border-top-right-radius: var(--size-200) ;
    height: 100vh; 
    overflow: hidden;  /* temp*/
    overflow-y: scroll;
    scroll-snap-type:proximity ;
    transition: all .4s ease-in-out;
    z-index: 2000;
    /* margin-right: var(--size-400); */
}
aside::-webkit-scrollbar {
    width: var(--size-300);
    border-top-right-radius: var(--size-200) ;
}
aside.closed-aside::-webkit-scrollbar {
    width: 0;
}

aside::-webkit-scrollbar-track {
    background-color: var(--clr-primary-1);
    border-top-right-radius: var(--size-200) ;
    border-left: 1px solid var(--clr-light-white);
}
aside::-webkit-scrollbar-thumb {
    background-color: var(--clr-light-white);
    /* height: 40px; */
    /* border-top-right-radius: var(--size-200) ; */
}
aside::-webkit-scrollbar-thumb:hover {
    background-color: var(--clr-primary-2);
}


section{
    margin-left: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap:  var(--size-900); */
    flex-direction: column;
    padding: var(--size-200);
}
.justify-start{
    justify-content: flex-start;
}
section h1{
    text-shadow: 4px 2px 20px var(--clr-primary-1);
    /* width: 100%; */
}
section h1 span{
    text-transform: lowercase;
    text-shadow: 4px 2px 20px var(--clr-primary-2);

}
.control-icons,
.label-group{
    display: flex ; 
    justify-content: center;
    align-items: center;
    gap: var(--size-100);
}
.icon-search,
.icon-close-search{
  cursor: pointer;
  transition: transform 0.4s ease;
}
.icon-search:hover,
.icon-close-search:hover{
transform: scale(1.1);
}
/* temp  */
/* .icon-hamburger, */

.countries-search,
.country-search-group{
    display: grid;
    grid-template-columns: 40px auto;
    justify-content: first baseline;
    column-gap: var(--size-400);
    padding: var(--size-300) var(--size-400);

}
.country-search-group{
    cursor: pointer;
    border-bottom: 1px solid var(--clr-light-white);
    transition: column-gap 0.4s  ease; 
}
.country-search-group:hover,
.country-search-group.selected:hover{
    background-color: var(--clr-primary-2);
}
.country-search-group.selected{
    background-color: var(--clr-light-green);
}

.countries-input{
    border: 1px solid var(--clr-light-white);
    background: var(--clr-light-white );
    border-radius: var(--size-200);
    padding-inline: var(--size-300);
    outline: none;
}
.country-icon-img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}
.coat-armes{
    height: 300px;
    width: fit-content;
    margin: auto;
}
.border-img{
    width: 50px;
    height: 50px;
    border: 1px solid var(--clr-primary-1);
    /* transition: transform 0.4s linear; */
}
/* .border-img:hover{
    transform: scale(1.1);
} */
.country-search-group .country-name{
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.closed-aside div input,
.closed-aside div h4{
    display: none;
}
.closed-aside div{
    column-gap: 0;
    border: none;
}
.country-names-flag{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 'flag' 'names' 'region' ;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.country-names-flag .country-flag{
    border: 2px solid var(--clr-dark-blue);
    grid-area: flag;
    max-height: 30vh;
    justify-self: center;
    /* width: 180px; */
    /* width: auto; */
}
.country-names-flag .country-names{
    height: 100%;
    grid-area: names;
}
.country-names .info h3::first-letter{
    color : var(--clr-primary-2);
 }
.country-names-flag .region{
    grid-area: region;
}
.info-group{
    padding-block: var(--size-200);
}
.info-group .label{
    color: var(--clr-primary-2);
    text-align: center;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 170%; /* 20.4px */
    letter-spacing: 0.6px;
    text-decoration-line: underline;
    text-transform: capitalize;
}
.info-group .info{
    color: var(--clr-primary-1, #04364A);
    text-align: center;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    text-transform: capitalize;
}

.translations-caroussel{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    justify-content: center;
    /*
    grid-template-columns:minmax(130px,170px) minmax(100px, 1fr); */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 0; */
}
.translations-button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--size-300);
    font-weight: var(--fw-regular);
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-1);
    color: white;
    border: 1px solid var(--clr-primary-1);
    padding: var(--size-100) var(--size-300);
    cursor: pointer;
}
.translations-list{
    display: flex;
    justify-content: flex-start ; 
    align-items: center;
    width: 100%;
    border: 1px solid var(--clr-primary-1);
    overflow: hidden;
    overflow-x: scroll;
    max-width: 900px;
    /* display: none; */
    /* line-height: 90%; */
    /* width: 10vw; */
}
.translations-list::-webkit-scrollbar,
.continents-list::-webkit-scrollbar {
    display: none;
}
.translation-item{
    white-space: nowrap;
    padding: var(--size-100) var(--size-300);
    cursor: pointer;
    border-right: 1px solid var(--clr-primary-1);

}
.translation-item:hover{
    background-color: var(--clr-light-white)
}
.translations-list .selected{
    background-color: var(--clr-primary-2);
    color: white;
}
/* .region,.location{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-inline : var(--size-100) ;
    flex-direction: column;
    margin: 0;
} */
.region,.location{
    display: grid;
    grid-template-columns: auto;
    /* justify-content: space-around; */
    /* align-items: center; */
    align-items: baseline;
    width: 100%;
    padding-inline : var(--size-100) ;
    /* flex-direction: column; */
    /* margin: 0; */
}
.region .info{
    display: flex;
    gap: var(--size-100);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left,.right ,.toggle-values{
    cursor: pointer;
}

.stop{
    /* background-color: var(--clr-light-white); */
    opacity: 0.3;
    cursor: default;
}
.location{
    padding-top: var(--size-400);
}
.more-info{
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
   
   /* align-self: center; */
   width: 100%;
}
.key{
    color : var(--clr-light-green) ; 
    font-weight : var(--fw-bold) ; 
}
.borders-info{
    display: flex;
    justify-content: center ; 
    gap: var(--size-400) ; 
    padding: var(--size-300);
    flex-wrap: wrap;

}

.tooltip {
    position: relative;
    z-index: 1;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    max-width: 100px;
    background-color: var(--clr-primary-1);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
   
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
    overflow: hidden;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .map-link{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: var(--size-200);
    text-decoration: underline;
    color: var(--clr-primary-1);
  }
@media screen and (min-width: 768px) {
    /* main{
    min-height: 70vh;
    } */
    .defaultImage{
        height: 100%;
    }
    .info-group{
        padding-block: 0;
    }
    .country-names-flag{
        justify-content: center;
        align-items: center;
        column-gap: var(--size-200);
        row-gap: var(--size-400);
        grid-template-areas: 'flag names' 'region region';
        grid-template-columns: minmax(300px, 1fr) 1fr;
    /* grid-template-columns: 1fr 1fr ; */
    }
    .country-names{
        display: grid;
        align-items: center;
    }
    .country-names .info-group  h3{
        text-align: left;
    }
    /* .country-names .info h3{
        text-align: left;
    } */
    .country-names .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: var(--size-400);
        padding-right: var(--size-300);
    }
    .translations-caroussel{
        justify-content:left;
    }
    /* .region,.location{
        flex-direction: row;
    } */
     .region,.location{
        grid-template-columns: repeat(3 , 1fr);
    }
    .horizontal-arrow{
        display: none;
    }
    .more-info{
        gap: var(--size-500);
        padding-top: var(--size-500);
        height: 100%;
    }
  }
  
  @media screen and (min-width: 900px) {
     :root{
        --fs-body : var(--fs-18) ; 
     }
    .continent-btn:first-child{
        padding-inline: var(--size-400);
    }
    .continents-list{
        gap: var(--size-400);
    }
  }
  
  @media screen and (min-width: 1100px) {
    .heading{
        font-size: var(--fs-heading-0);
      }
    .continent-btn:first-child{
        padding-inline: var(--size-600);
    }
    .continents-list{
        gap: var(--size-600);
    }
    section h1{
        text-align: center !important;
        
        /* width: 100%; */
    }
    .country-names-flag {
        /* row-gap: var(--size-400); */
        grid-template-areas:
            'flag names'
            'flag region';
    }
    .country-names .info-group{
        display: flex;
        /* justify-content: space-between ;  */
        column-gap: var(--size-400) ; 
        flex-wrap: wrap;

    }
    .region{
        justify-items: baseline;
        align-self: baseline;
        padding-top: var(--size-200);
    }
  }
  
  @media screen and (min-width: 1360px) {
    .country-names-flag{
        grid-template-columns: minmax(300px, .7fr) 1fr;
    }
    .continents-list{
        gap: var(--size-900);
    }
    /* :root{
        --fs-body : var(--fs-24) ; 
     } */
    /* .continents-list{
        gap: var(--size-900);
    
  } */
 }  
 @media screen and (min-width: 1920px) {
   :root{
       --fs-body : var(--fs-24) ; 
       --fs-nav-link : var(--fs-18) ;
    }
    .country-names-flag .country-flag{
        max-height: 40vh;
        
    }
    .continent-btn,
    .nav-item{
        font-size: var(--fs-body );
    }
   /* .continents-list{
       gap: var(--size-900);
   
 } */
}