.continents-caroussel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--size-500) 0;
}
.vertical-arrow{
    cursor: pointer;
}
.continents-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 700px;
    /* flex-wrap: nowrap; */
}