.continents-caroussel{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap : var(--size-100);
    flex-wrap: nowrap;
    padding: var(--size-200)  ;
    padding-top: var(--size-500) ;
}
.horizontal-arrow{
    cursor: pointer;
    border: 1px solid var(--clr-primary-1);
    border-radius: 50% ; 
    /* display: none; */
}
.arrow-left{
    display: none ; 
}
.continents-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow:hidden;
    gap: var(--size-300); 
    /* scroll-behavior: smooth; */
}
.continent-btn{
    border-radius: var(--size-200);
    padding: var(--size-100) var(--size-200);
    border: 1px solid var(--clr-primary-1, #04364A);
    background: white ;
    cursor: pointer;
    font-family: var(--ff-body);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-1);  
    text-align: center;
    text-transform: capitalize;
    min-width: max-content
}
.continent-btn:first-child{
    padding-inline: var(--size-300);
}
.continent-btn.selected{
    background-color: var(--clr-primary-1) ; 
    color: white;
    border: white;
}
main{
    display: flex; 
    position: relative;
    /* height: 200vh; */
}
aside {
    position: absolute;
    top: 0;
}
section{
    margin-left: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section h1{
    text-align: center;
    /* width: 100%; */
}
@media screen and (min-width: 768px) {
    .horizontal-arrow{
        display: none;
    }
  

  }
  
  @media screen and (min-width: 900px) {
    .continent-btn:first-child{
        padding-inline: var(--size-400);
    }
    .continents-list{
        gap: var(--size-400);
    }
  }
  
  @media screen and (min-width: 1100px) {
    .continent-btn:first-child{
        padding-inline: var(--size-600);
    }
    .continents-list{
        gap: var(--size-600);
    }
  }
  
  @media screen and (min-width: 1360px) {
    .continents-list{
        gap: var(--size-900);
    
  }
 }