.continents-caroussel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--size-500) var(--size-200);
}
.vertical-arrow{
    cursor: pointer;
    /* display: none; */
}
.continents-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    gap: var(--size-200); 
    /* width: 900px;
    min-width: 800px; */
    /* flex-wrap: nowrap; */
}
.continent-btn{
    border-radius: var(--size-200);
    padding: var(--size-100) var(--size-200);
    border: 1px solid var(--clr-primary-1, #04364A);
    background: white ;
    cursor: pointer;
    font-family: var(--ff-body);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    color: var(--clr-primary-1);  
    text-align: center;
    text-transform: capitalize;
    width: max-content
}