.continents-caroussel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: var(--size-500) var(--size-200);
}
.vertical-arrow{
    cursor: pointer;
}
.continents-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* gap: var(--size-200);  temp */
    /* flex-wrap: nowrap; */
}