
.nav-links{
  display:flex ; 
  justify-content:space-between;
  align-items:center;
  padding: var(--size-300) var(--size-600)
}
.logo{
  height: var(--size-700); 
}
.icon-hamburger,
.icon-close{
  width : var(--size-600);
  height : var(--size-600);
  cursor: pointer;
  transition: transform 0.4s ease;
}
.icon-hamburger:hover,
.icon-close:hover{
transform: scale(1.1);
}
/* temp  */
/* .icon-hamburger,
.icon-close{
  display: none ; 
} */
.wave{
  position: relative;
  width: 100%;
  z-index: -1;
}
.top{
  top: var(--size-300);
}
.bottom{
  bottom: var(--size-300);
}

@media screen and (max-width:900) {
  .hide{
    display: none;
  }
}


.nav-menu{
position: absolute;
top: 70px;
right: 0;
width: 100vw;
height: calc(100vh - 70px);
background-color: var(--clr-light-green);

}
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-item{
  width: 100%;
  text-align: center;
  /* background-color: #04364A; */
  color: var(--clr-primary-1);
  font-family: var(--ff-nav-link);
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase ;
  border-bottom: 1px solid var(--clr-primary-1);
  cursor: pointer;
}
.nav-link{
  display: block;
  margin: 0 ; 
  padding: var(--size-500) 0;
  width: 100vw;
  height: 100%;
}
.nav-link:hover{
    color: var(--clr-primary-2);
}
.nav-item:nth-last-child(1){
  border: none;
  padding: var(--size-500) 0;
  cursor: default;
}
.support-button{
  font-family: var(--ff-body);
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize ;
  padding: var(--size-200) var(--size-500);
  border-radius: var(--size-200);
  height: fit-content;
  /* background: var(--clr-banana-yellow); */
  transition: transform 0.3s ease;
}
.support-button:hover{
  background-color: var(--clr-secondary-1);
  /* color: var(--clr-banana-yellow); */
}

section{
  display: grid;
  min-height: 85vh;
  justify-items: center;
  gap: var(--size-600);
  padding: var(--size-400) var(--size-300);
}

.heading{
  font-size: var(--fs-heading-4) ; 
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  line-height: 110%;
  color : var(--clr-primary-1);
  text-align: center;
  width: 100%;
  /* background-color: red; */
  
}
.heading span {
  color:  var(--clr-primary-2);
}
section img {
  width: 100%;
  grid-row: 2/3;
  margin: 0;
}
.section-desc{
 display: flex;
 flex-direction: column;
 gap: var(--size-200);
 justify-items: center;
 height: fit-content;
 
}
.section-desc p{
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-1);  
  text-align: center;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
  height: max-content;
}
.button{
  color: var(--clr-light-white, #D6E6F2);
  text-align: center;
  font-family: var(--ff-body);
  font-size: var(--fs-16);
  font-weight: var(--fw-semi-bold);
  line-height: 110%; /* 17.6px */
  text-transform: capitalize;
  width: fit-content;
  align-self: center;
  border-radius: var(--size-200);
  /* background-color: var(--clr-light-green); */
  padding: var(--size-300) var(--size-500);
  cursor: pointer;
}
#footer-nav{
  display: grid;
  justify-content :center;
  gap: var(--size-300);
  padding: var(--size-200);
}
.footer-nav-list{
  display: flex ; 
  flex-direction: column ; 
  justify-content: center;
  align-items: center;
  gap: var(--size-300);
  padding: var(--size-400);
}
.footer-nav-item{
font-family: var(--ff-nav-link);
font-size: var(--fs-18);
font-weight: var(--fw-bold);
line-height: 110%; /* 19.8px */
text-decoration-line: underline;
text-transform: uppercase;
}
.footer-nav-link{
  color: white;
}
.footer-logo-support{
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: var(--size-300);
}

#copyright{
  background : black;
  color: white;
  text-align: center;
  font-family: var(--ff-copyright);
  font-size:  var(--fs-18);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {

  .top{
    top: var(--size-600);
  }
  section{
    padding: var(--size-600) 8rem;
  }
  .heading{
    font-size: var(--fs-heading-2);
    /* padding: var(--size-600) var(--size-1000); */
  }
  #footer-nav{
    /* padding: var(--size-700) var(--size-400); */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-logo-support{
    grid-row: inherit;
  }
  #footer-contact{
    display: grid;
    gap: var(--size-100);
    justify-items: flex-start;
  }
  #footer-contact h4{
    color: var(--white, #FFF);
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: var(--fs-18);
    font-weight: var(--fw-semi-bold);
    line-height: 110%; /* 22px */
    text-transform: capitalize;
  }
  #footer-contact input , 
  #footer-contact textarea{
    color:var(--clr-primary-1);
    font-family: var(--ff-body);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    line-height: 170%; /* 23.8px */
    text-transform: capitalize;
    border-radius: var(--size-100);
    padding: 0 var(--size-200);
    width: 100%;
    border: 1px solid var(--clr-primary-2);
  }
  #footer-contact button{
    border: 1px solid var(--clr-primary-2);
  }
}

@media screen and (min-width: 900px) {
  :root{
    --fs-nav-link : var(--fs-16) ; 
    --fs-body: var(--fs-24) ; 
     /* font-size: 20px; */
  }

  
  .nav-menu{
    position: static;
    background-color: transparent;
    width: 70vw;
    height: fit-content;
  }
  .nav-list{
    flex-direction:row;
    justify-content: space-between;

  }
  .nav-item{
  padding: 0;
  border: none;
  width: fit-content;
  }
  .nav-link{
    display: inline;
    padding: var(--size-100);
  }
  .nav-item:nth-last-child(1){
    padding:  0;
  }
  .support-button{
    padding: var(--size-300);
    width: fit-content;
  }

  .heading{
    font-size: var(--fs-heading-0);
  }
}

@media screen and (min-width: 1100px) {
  
  :root{
     --fs-body : var(--fs-18) ; 
  }

  .top{
    top: 50px;
  }

  .heading{
    grid-area: heading;
    text-align: left;
    /* background-color: #FFDD00; */
    font-size: var(--fs-heading-2);
    align-self: last baseline;
    padding-bottom: var(--size-400) ;
  }
  .section-desc{
    grid-area: desc;
    /* background-color: #176B87; */
    font-size: var(--fs-16);
    padding-top :  var(--size-400) ; 
    align-self: baseline;
  }
 
  section img{
    /* display: block; */
    grid-area: image;
    height: 80%;
    /* background-color: #00AC7C; */
  } 
  section {
    grid-template-columns: 1fr 1.2fr;
    grid-template-areas: 'heading image' 'desc image'  ;
    /* row-gap: var(--size-300);     */
    gap: 0;
    align-items: center;
    align-content : center ; 
    place-items: center;
    align-content: center;
    padding: var(--size-400);
  }
  .reversed-section{
    grid-template-areas: 'image heading' 'image desc'  ;

  }
  .section-desc p{
    text-align: left;
  }
  .button  {
    align-self:self-start;
  }
  .animation{
    opacity: 0;
    filter: blur(8px);
    transition : all 0.8s;
    transform: translateY(40%);
  }
  /* .top{
    transform: translateY(20%);
  }
  
  .bottom{
    transform: translateY(-20%)
  } */
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0%);
  }
}

@media screen and (min-width: 1360px) {
 
  .heading{
    font-size: var(--fs-heading);
  } 
* section img{
    height: 80%;
  }  
   section {
    padding: 0 var(--size-1000);
  } 

}

@media(prefers-reduced-motion: reduce) {
  .animation{
    transition: none;
  }  
}
