@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Saira:wght@300;400;500;600;700;800&display=swap');
:root{
  /* ********utilities colors ********* */
  --clr-primary-1 :#04364A ; 
  --clr-primary-2 :#176B87 ; 
  --clr-secondary-1:#B9D7EA ;
  --clr-light-white :#D6E6F2;
  --clr-light-green :#00AC7C; 
  --clr-dark-blue:#001220;  
  --clr-banana-yellow:#FFDD00;
 

  /* *******font family************** */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary:  "Saira" , sans-serif;
  
  --ff-heading:var(--ff-primary) ; 
  --ff-body:var(--ff-primary) ; 
  --ff-logo: var(--ff-secondary);
  --ff-nav-link: var(--ff-secondary);
  --ff-copyright: var(--ff-secondary) ; 
  
  /* *******font weight************** */
  --fw-400 : 400; 
  --fw-500 : 500; 
  --fw-600 : 600; 
  --fw-700 : 700; 

  --fw-regular : var(--fw-400) ; 
  --fw-semi-bold : var(--fw-600) ;
  --fw-bold : var(--fw-700) ;
  /* --fw-medium : var(--fw-500) ; */

  /* *******font size************** */
  --fs-16: 1rem;   /*16px */
  --fs-18: 1.125rem ;  /*18px */
  --fs-24: 1.5rem;  /*24px */
  --fs-32: 2rem;  /*32px */
  --fs-40: 2.5rem;  /*40px */
  --fs-45: 2.8125rem;  /*45px */
  --fs-50: 3.125rem;  /*50px */
  --fs-60: 3.75rem;  /*60px */
  --fs-70: 4.375rem;  /*70px */
  --fs-80: 5rem ;   /*80px */
  --fs-90: 6rem ;   /*80px */

  --fs-body: var(--fs-16) ; 
  --fs-heading-0 : var(--fs-80);
  --fs-heading: var(--fs-70);
  --fs-heading-2: var(--fs-60);
  --fs-heading-3: var(--fs-50);
  --fs-heading-4: var(--fs-45);
  --fs-logo:var(--fs-32) ; 
  --fs-nav-link: var(--fs-18) ; 

  /* *************for spacing and bordering... */
  --size-100: 0.25rem; /*4px*/
  --size-200: 0.5rem;  /*8px*/
  --size-300: 0.75rem; /*12px*/
  --size-400: 1rem;    /*16px*/
  --size-500: 1.5rem;  /*24px*/
  --size-600: 2rem;    /*32px*/
  --size-700 : 2.5rem ; /*40px*/
  --size-800: 3rem;   /*48px*/
  --size-900: 4rem;   /*64px*/
  --size-1000: 5rem;   /*80px*/

  

}
::selection {
  background: var(--clr-primary-2);
  color: var(--clr-secondary-1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  padding: 0;
  margin : 0; 
  font :inherit ; 
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} 
ul,ol{
  list-style : none;
}
a{
  text-decoration: none;
}
img,
svg,
picture{
  max-width: 100%;
  display: block;
  /* width: 100%; */
  /* width: 100%; */
}

/* backgrounds colors */
.bg-primary-1{
  background-color: var(--clr-primary-1);
}
.bg-primary-2{
  background-color: var(--clr-primary-2);
}
.bg-light-green{
  background-color: var(--clr-light-green);
}
.bg-light-white{
  background-color: var(--clr-light-white);
}
.bg-secondary-1{
  background-color: var(--clr-secondary-1);
}
.bg-dark-blue{
  background-color: var(--clr-dark-blue);
}
.bg-yellow{
  background-color: var(--clr-banana-yellow);
}

header{
  width: 100%;
  border-bottom: 1px solid var(--clr-primary-1);
  box-shadow: 0px 2px 12px 4px #04364A;
  height: 70px;
  background-color: white;
  position: sticky;
  top: 0;
  /* z-index: 1; */
}
.nav-links{
  display:flex ; 
  justify-content:space-between;
  align-items:center;
  padding: var(--size-300) var(--size-600)
}
.logo{
  height: var(--size-700); 
}
.icon-hamburger,
.icon-close{
  width : var(--size-600);
  height : var(--size-600);
  cursor: pointer;
  transition: transform 0.4s ease;
}
.icon-hamburger:hover,
.icon-close:hover{
transform: scale(1.1);
}
/* temp  */
/* .icon-hamburger,
.icon-close{
  display: none ; 
} */
.wave{
  position: relative;
  width: 100%;
  z-index: -1;
}
.top{
  top: var(--size-300);
}
.bottom{
  bottom: var(--size-300);
}

.hide{
  display: none;
}
.nav-menu{
position: absolute;
top: 70px;
right: 0;
width: 100vw;
height: calc(100vh - 70px);
background-color: var(--clr-light-green);

}
.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nav-item{
  width: 100%;
  text-align: center;
  /* background-color: #04364A; */
  color: var(--clr-primary-1);
  font-family: var(--ff-nav-link);
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-semi-bold);
  text-transform: uppercase ;
  border-bottom: 1px solid var(--clr-primary-1);
  cursor: pointer;
}
.nav-link{
  display: block;
  margin: 0 ; 
  padding: var(--size-500) 0;
  width: 100vw;
  height: 100%;
}
.nav-link:hover{
    color: var(--clr-primary-2);
}
.nav-item:nth-last-child(1){
  border: none;
  padding: var(--size-500) 0;
  cursor: default;
}
.support-button{
  font-family: var(--ff-body);
  font-size: var(--fs-nav-link);
  font-weight: var(--fw-semi-bold);
  text-transform: capitalize ;
  padding: var(--size-200) var(--size-500);
  border-radius: var(--size-200);
  height: fit-content;
  /* background: var(--clr-banana-yellow); */
  transition: transform 0.3s ease;
}
.support-button:hover{
  background-color: var(--clr-secondary-1);
  /* color: var(--clr-banana-yellow); */
}

section{
  display: grid;
  min-height: 85vh;
  justify-items: center;
  gap: var(--size-600);
  padding: var(--size-400) var(--size-300);
}

.heading{
  font-size: var(--fs-heading-4) ; 
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  line-height: 110%;
  color : var(--clr-primary-1);
  text-align: center;
  width: 100%;
  /* background-color: red; */
  
}
.heading span {
  color:  var(--clr-primary-2);
}
section img {
  width: 100%;
  grid-row: 2/3;
  margin: 0;
}
.section-desc{
 display: flex;
 flex-direction: column;
 gap: var(--size-200);
 justify-items: center;
 height: fit-content;
 
}
.section-desc p{
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  color: var(--clr-primary-1);  
  text-align: center;
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.8px;
  text-transform: capitalize;
  height: max-content;
}
.button{
  color: var(--clr-light-white, #D6E6F2);
  text-align: center;
  font-family: var(--ff-body);
  font-size: var(--fs-16);
  font-weight: var(--fw-semi-bold);
  line-height: 110%; /* 17.6px */
  text-transform: capitalize;
  width: fit-content;
  align-self: center;
  border-radius: var(--size-200);
  /* background-color: var(--clr-light-green); */
  padding: var(--size-300) var(--size-500);
  cursor: pointer;
}
#footer-nav{
  display: grid;
  justify-content :center;
  gap: var(--size-300);
  padding: var(--size-200);
}
.footer-nav-list{
  display: flex ; 
  flex-direction: column ; 
  justify-content: center;
  align-items: center;
  gap: var(--size-300);
  padding: var(--size-400);
}
.footer-nav-item{
font-family: var(--ff-nav-link);
font-size: var(--fs-18);
font-weight: var(--fw-bold);
line-height: 110%; /* 19.8px */
text-decoration-line: underline;
text-transform: uppercase;
}
.footer-nav-link{
  color: white;
}
.footer-logo-support{
  grid-row: 1/2;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: var(--size-300);
}

#copyright{
  background : black;
  color: white;
  text-align: center;
  font-family: var(--ff-copyright);
  font-size:  var(--fs-18);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {

  .top{
    top: var(--size-600);
  }
  section{
    padding: var(--size-600) 8rem;
  }
  .heading{
    font-size: var(--fs-heading-2);
    /* padding: var(--size-600) var(--size-1000); */
  }
  #footer-nav{
    /* padding: var(--size-700) var(--size-400); */
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-logo-support{
    grid-row: inherit;
  }
  #footer-contact{
    display: grid;
    gap: var(--size-100);
    justify-items: flex-start;
  }
  #footer-contact h4{
    color: var(--white, #FFF);
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: var(--fs-18);
    font-weight: var(--fw-semi-bold);
    line-height: 110%; /* 22px */
    text-transform: capitalize;
  }
  #footer-contact input , 
  #footer-contact textarea{
    color:var(--clr-primary-1);
    font-family: var(--ff-body);
    font-size: var(--fs-16);
    font-weight: var(--fw-regular);
    line-height: 170%; /* 23.8px */
    text-transform: capitalize;
    border-radius: var(--size-100);
    padding: 0 var(--size-200);
    width: 100%;
    border: 1px solid var(--clr-primary-2);
  }
  #footer-contact button{
    border: 1px solid var(--clr-primary-2);
  }
}

@media screen and (min-width: 900px) {
  :root{
    --fs-nav-link : var(--fs-16) ; 
    --fs-body: var(--fs-24) ; 
     /* font-size: 20px; */
  }

  
  .nav-menu{
    position: static;
    background-color: transparent;
    width: 70vw;
    height: fit-content;
  }
  .nav-list{
    flex-direction:row;
    justify-content: space-between;

  }
  .nav-item{
  padding: 0;
  border: none;
  width: fit-content;
  }
  .nav-link{
    display: inline;
    padding: var(--size-100);
  }
  .nav-item:nth-last-child(1){
    padding:  0;
  }
  .support-button{
    padding: var(--size-300);
    width: fit-content;
  }

  .heading{
    font-size: var(--fs-heading-0);
  }
}

@media screen and (min-width: 1100px) {
  /* :root{
    font-size: var(--fs-16) ; 
  } */
  .top{
    top: 50px;
  }

  .heading{
    grid-area: heading;
    font-size: var(--fs-heading-2);
  }
  .section-desc{
    grid-area: desc;
    font-size: var(--fs-16);
  }
 
  .section img{
    /* display: block; */
    grid-area: image;
    padding : var(--size-600);
  } 
  section {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-template-areas: 'heading image' 'desc image';
    /* place-items: center;
    align-content: center; */
  }

}

